.drab-pp-changes {
  position: relative;
}

.drab-pp-changes .drab-pp-changes-updated-on {
  position: absolute;
  right: 0;
}

.drab-analytics-opt-out-iframe{
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .drab-pp-changes {
    position: static;
    text-align: center;
  }
  
  .drab-pp-changes .drab-pp-changes-updated-on {
    position: static;
  }

  .drab-pp-changes .drab-pp-changes-updated-on::before { 
    content: "\A\A"; 
    white-space: pre; 
  }
}