/* Global */
ol li a, ul li a {
  font-size: 1em;
}

.field-explanation {
  font-size: 1em;
}


/* Main Header START */
.drabkirn-header-intro-dsk-content h1 {
  font-size: 4em;
}

.drabkirn-header-intro-dsk-content p {
  font-size: 1.8em;
  line-height: 1.2;
}

.header-intro-dsk-username-tag {
  font-size: 2.2em !important;
  font-weight: bold;
  font-style: italic;
}

.header-intro-mob-username-tag {
  font-size: 1.5em !important;
  font-weight: bold;
  font-style: italic;
}

.header-intro-dsk-logo a {
  border-bottom: none;
}

/* Main Header END */


/* Home START */
.drabkirn-social-icons a {
  border-bottom: none;
}
/* Home END */


/* Legal START */
.drab-pp-changes {
  position: relative;
}

.drab-pp-changes .drab-pp-changes-updated-on {
  position: absolute;
  right: 0;
}

.drab-analytics-opt-out-iframe{
  width: 100%;
  height: 100%;
}
/* Legal END */


/* Subscribe START */
.newsletter-redirect-link {
  font-size: 1.1em;
}
/* Subscribe END */


/* Media Queries */
/* Tab Devices and down */
@media only screen and (max-width: 768px) {
  /* Legal START */
  .drab-pp-changes {
    position: static;
    text-align: center;
  }
  
  .drab-pp-changes .drab-pp-changes-updated-on {
    position: static;
  }

  .drab-pp-changes .drab-pp-changes-updated-on::before { 
    content: "\A\A"; 
    white-space: pre; 
  }
  /* Legal END */
}